@tailwind base;
@tailwind components;
@tailwind utilities;

.content-page-ana {
    color: white;
}

.content {
    color: white;
}

.form-container {
    width: 50%;
    margin: auto;
    margin-top: 20px;
}

.product-image {
    width: 100px;
    height: 100px;
}